@font-face {
    font-family: 'Comfortaa Bold';
    src: url('../fonts/comfortaa-bold-webfont.woff2') format('woff2'),
         url('../fonts/comfortaa-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa Light';
    src: url('../fonts/comfortaa-light-webfont.woff2') format('woff2'),
         url('../fonts/comfortaa-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Comfortaa Regular';
  src: url('../fonts/comfortaa-regular-webfont.woff2') format('woff2'),
  url('../fonts/comfortaa-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
