$global-background-color: #f6f6f6;
$global-primary-color: #193441;
$global-secondary-color: #06658E;
$global-light-color: #e8e8e8;
$global-link-color: #91AA9D;

$global-success-color: #5cb85c;
$global-warning-color: #f0ad4e;
$global-info-color: #5bc0de;
$global-error-color: #d9534f;

$card-background-color: white;
