div.tasks-list {
  div.card {
    margin-bottom: 7px;

    div.card-container {
      padding-top: 3px;
      padding-bottom: 0;
      text-align: center;

      & > div[class^='col-md'] {
        padding: 7px;

        @media screen and (min-width: $global-breakpoint-medium) {
          &:not(:last-child) {
            border-right: 1px solid $global-light-color;
          }
        }
      }
    }
  }
}

ul.files-tree,
ul.files-tree ul {
  list-style-type: none;
  padding-left: 20px;

  i.fa {
    color: $global-link-color;
  }
}
