div.tasks-list {
  div.card {
    margin-bottom: 7px;

    div.card-container {
      &.task-detail  {
        text-align: left;
        padding-bottom: 25px;

        & > div.col-lg-12:first-child {
          border-top: 1px dashed $global-light-color;

          ul {
            list-style-type: none;
            padding-left: 20px;

            i.fa {
              color: $global-secondary-color;
            }
          }
        }
      }

      & > div[class^='col-md'] {
        padding: 7px;
        text-align: center;

        &:not(:last-child) {
          border-right: 1px solid $global-light-color;
        }
      }
    }
  }
}
