{% extends 'base.html' %}

{% block title %}Compilio &middot; The online compiler{% endblock %}

{% block intro %}
    <div class="main-intro">
        <div class="container">
            <h2>Start compiling</h2>
            <p>
                Compilio is an <strong>online compiler</strong> you can use to compile your files. It currently
                supports LaTeX files. You can choose either to compile them using the <strong>drag &amp; drop</strong>
                section or download a lightweight python client to do it <strong>remotely</strong>.
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="row card-container">
            <div id="drop-area"></div>
            <div class="col-md-6">
                <h3>Command Line</h3>
                <p>Download the cli:</p>
                <p><a href="#" class="button">Download the command line tool</a></p>
                <p>You can then use it as following:</p>
                <div class="terminal">
                    <p>
                        <span class="line"><span class="comment"># Prefix your command with compilio</span></span>
                        <span class="line">compilio pdflatex my_file.tex</span>
                        <span class="line"><span class="comment"># Your file is compiled on the compilio server</span></span>
                        <span class="line"><span class="comment"># and the result is downloaded</span></span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="row card-container">
            <div class="col-lg-12">
                <h3 id="about">About</h3>
                <p>
                    Compilio is an online compiler you can use to compile your files without installing any required
                    dependency but <span class="label">compilio</span>, or none using the drag &amp; drop feature
                    directly on Compil.io homepage.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ block.super }}

    {% load static %}

    <script type="text/javascript" src="{% static "js/drop.js" %}"></script>
{% endblock %}
