{% extends 'base.html' %}

{% block title %}Compilio &middot; The online compiler{% endblock %}

{% block intro %}
    <div class="main-intro">
        <div class="container">
            <h2>My tasks</h2>
            <p>
                This page lists your saved tasks. You can download the original and compiled files, or delete them.
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="row card-container">
            <div class="col-lg-12">
                {% if not request.user.is_authenticated %}
                    <h3>Hello there!</h3>
                    <p>
                        You are not authenticated. You can <a href="{% url 'register' %}" class="button button-small">create an account</a> or
                        <a href="{% url 'login' %}">login</a> if you want to save your compilations to download your files
                        later.
                    </p>
                {% else %}
                    <p class="pull-right"><a href="{% url 'logout' %}" class="button"><i class="fa fa-sign-out"></i> Log out</a></p>
                    <h3>Hello {{ request.user.username }}!</h3>
                    <p>
                        You are authenticated. You don't have reached the storage limit.
                    </p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="tasks-list">
        <div class="card">
            <div class="row card-container">
                <div class="col-md-2"><span class="label label-success"><i class="fa fa-check"></i> Finished</span></div>
                <div class="col-md-2">PDF LaTeX</div>
                <div class="col-md-3">Compiled 3 months ago</div>
                <div class="col-md-3"><i class="fa fa-cloud-download"></i> Download compiled files</div>
                <div class="col-md-2">
                    <a href="{% url 'task' 1 %}" class="button button-small">Open</a>
                    <a href="#" class="button button-small button-warning">Remove</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row card-container">
                <div class="col-md-2"><span class="label label-error"><i class="fa fa-times"></i> Error</span></div>
                <div class="col-md-2">PDF LaTeX</div>
                <div class="col-md-3">Compiled 3 months ago</div>
                <div class="col-md-3">&bull;</div>
                <div class="col-md-2">
                    <a href="{% url 'task' 2 %}" class="button button-small">Open</a>
                    <a href="#" class="button button-small button-warning">Remove</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row card-container">
                <div class="col-md-2"><span class="label label-info"><i class="fa fa-circle-o-notch fa-spin"></i> Running</span></div>
                <div class="col-md-2">PDF LaTeX</div>
                <div class="col-md-3">Compiled 3 months ago</div>
                <div class="col-md-3">&bull;</div>
                <div class="col-md-2">
                    <a href="{% url 'task' 3 %}" class="button button-small">Open</a>
                    <a href="#" class="button button-small button-warning">Remove</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
