{% extends 'base.html' %}

{% block title %}Compilio &middot; The online compiler{% endblock %}

{% load humanize %}

{% block intro %}
    <div class="main-intro">
        <div class="container">
            <h2>
                <span class="label label-{% if task.status != 'SUCCESS' %}warning{% else %}info{% endif %}">{{ task.status|lower }}</span>
                Task n°{{ task.id }}
            </h2>
            <p>
                This task was a PDF LaTeX compilation launched {{ task.submitted_date|naturaltime }}.
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="row card-container">
            <div class="col-lg-12">
                <p class="pull-right">
                    <a href="{% url 'tasks' %}" class="button button-info"><i class="fa fa-cloud-download"></i> Download compiled files</a>
                    <a href="{% url 'tasks' %}" class="button"><i class="fa fa-list"></i> My tasks</a>
                </p>
                <h3>Files</h3>
                <p>
                    The script <span class="label">{{ task.command }}</span>
                    {% if task.status == 'Pending' %}will be
                    {% elif task.status == 'Running' %}is
                    {% else %}is{% endif %}
                    executed.
                </p>
            </div>
            <div class="col-md-6">
                <p>These files were produced by the compilation script:</p>
                <p class="warning">No file was produced so far...</p>
            </div>
            <div class="col-md-6">
                <p>These files were sent by you:</p>
                <ul class="files-tree">
                    <li>
                        <i class="fa fa-folder"></i> /

                        <ul>
                            <li><i class="fa fa-file"></i> FILE</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row card-container">
            <div class="col-lg-12">
                <h3>Execution Trace</h3>
                <p>This is the full execution trace of the command:</p>
                <div id="task-trace" data-task="{{ task.id }}" data-state="{{ task.status }}"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ block.super }}

    {% load static %}

    <script type="text/javascript" src="{% static "js/task.js" %}"></script>
{% endblock %}
