{% extends 'base.html' %}

{% block title %}Compilio &middot; The online compiler{% endblock %}

{% load humanize %}

{% block intro %}
    <div class="main-intro">
        <div class="container">
            <h2>
                <span class="label label-{{ task.status|lower }}">{{ task.status|lower }}</span>
                Task {{ task.id }}
            </h2>
            <p>
                This task was a {{ task.compiler.title }} compilation launched {{ task.submitted_date|naturaltime }}.
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="row card-container">
            <div class="col-lg-12">
                <p class="pull-right">
                    {% if task.status == 'SUCCESS' %}
                        <a href="{% url 'get_output_files' %}?task_id={{ task.id }}" class="button button-info"><i class="fa fa-cloud-download"></i> Download compiled files</a>
                    {% endif %}
                    <a href="{% url 'tasks' %}" class="button"><i class="fa fa-list"></i> My tasks</a>
                </p>
                <h3>Files</h3>
                <p>
                    The script <span class="label">{{ task.command }}</span>
                    {% if task.status == 'PENDING' %}will be
                    {% elif task.status == 'RUNNING' %}is
                    {% else %}was {% if task.status == 'FAILED' %}not{% endif %}{% endif %}
                    executed.
                </p>
                <p>
                    {% if not request.user.is_authenticated %}
                        <span class="warning">
                            This task is not linked to your account. It may be claimed by anyone.
                            <a class="button button-small button-warning" href="{% url 'login' %}">Log in</a> or
                            <a class="button button-small button-warning" href="{% url 'register' %}">register</a>
                            and go back to this page to save this task and prevent anyone but you to see it.
                        </span>
                    {% else %}
                        <span class="success">
                            This task has been saved to your account.
                        </span>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row card-container">
            <div class="col-lg-12">
                <h3>Execution Trace</h3>
                <p>This is the full execution trace of the command:</p>
                <div id="task-trace" data-task="{{ task.id }}" data-state="{{ task.status }}"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ block.super }}

    {% load static %}

    <script type="text/javascript" src="{% static "js/task.js" %}"></script>
{% endblock %}
