{% extends 'base.html' %}

{% block title %}Compilio &middot; The online compiler{% endblock %}

{% block intro %}
    <div class="main-intro">
        <div class="container">
            <h2>My tasks</h2>
            <p>
                This page lists your saved tasks. You can download the original and compiled files, or delete them.
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="row card-container">
            <div class="col-lg-12">
                {% if not request.user.is_authenticated %}
                    <h3>Hello there!</h3>
                    <p>
                        You are not authenticated. You can <a href="{% url 'register' %}" class="button button-small">create an account</a> or
                        <a href="{% url 'login' %}">login</a> if you want to save your compilations to download your files
                        later.
                    </p>
                {% else %}
                    <p class="pull-right">
                        <a href="{% url 'logout' %}" class="button"><i class="fa fa-sign-out"></i> Log out</a>
                        <a href="{% url 'tasks_feed' request.user.username %}" class="button button-warning"><i class="fa fa-rss"></i> RSS Feed</a>
                    </p>
                    <h3>Hello {{ request.user.username }}!</h3>
                    <p>
                        You are authenticated. You don't have reached the storage limit.
                    </p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="tasks-list">
        {% load humanize %}
        {% for task in tasks %}
            <div class="card">
                <div class="row card-container">
                    <div class="col-md-2">
                        <span class="label label-{{ task.status|lower }}">
                            {% if task.status == 'SUCCESS' %}<i class="fa fa-check"></i>
                            {% elif task.status == 'FAILED' %}<i class="fa fa-times"></i>
                            {% else %}<i class="fa fa-circle-o-notch fa-spin"></i>
                            {% endif %}
                            {{ task.status|lower }}
                        </span>
                    </div>
                    <div class="col-md-2">{{ task.compiler.title }}</div>
                    <div class="col-md-3">
                        {{ task.submitted_date|naturaltime }}
                    </div>
                    <div class="col-md-3">
                        {% if task.status == 'SUCCESS' %}
                            <a href="http://{{ request.get_host }}/compiler/get_output_files?task_id={{ task.id }}" class="button button-info button-small"><i class="fa fa-cloud-download"></i> Download compiled files</a>
                        {% else %}
                            &bull;
                        {% endif %}
                    </div>
                    <div class="col-md-2">
                        <a href="{% url 'task' task.id %}" class="button button-small">Open</a>
                        <a href="{% url 'delete_task' task.id %}" class="button button-small button-warning">Remove</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
