{% load static %}

<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{% block title %}Compilio{% endblock %}</title>
    <meta name="description" content="An online command line or drag and drop compiler" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{% static "images/favicon.ico" %}" rel="icon" />

    {% block stylesheets %}
        <link type="text/css" href="{% static "css/style.css" %}" rel="stylesheet" />
    {% endblock %}
</head>

<body>
    {% include 'header.html' %}
    {% block intro %}{% endblock %}
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    {% include 'footer.html' %}

    {% block javascripts %}
        <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    {% endblock %}
</body>
</html>
