<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{% block title %}Compilio{% endblock %}</title>
    <meta name="description" content="An online command line or drag and drop compiler" />

    {% load static %}

    <link type="text/css" href="{% static "css/style.css" %}" rel="stylesheet" />
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
</head>

<body>
    {% include 'header.html' %}
    {% block intro %}{% endblock %}
    <main class="container">
        {% block content %}{% endblock %}
    </main>
   {% include 'footer.html' %}
</body>
</html>
